body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  min-height: 150px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
  margin-top: 20px;
}

li button {
  background-color: #2196f3;
  color: white;
  padding: 8px 12px;
  margin-left: 10px;
}

li button:hover {
  background-color: #0d47a1;
}
.copy-toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideInUp 0.5s ease-out;

  @keyframes slideInUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
.delete-btn {
  color: white;
  background-color: rgb(249, 26, 26);
}
.delete-btn:hover {
  background-color: rgb(219, 19, 19);
}
